*{
    margin: 0;
    padding: 0;
}
#container{
    background: silver;
    width: 1200px;
   
    margin: 0 auto;
    padding: 10px;
    border: 1px solid black;
}
    #header{
        background: brown;
        width: 1200px;
        height: 100px;
    }
    #navigation{
        background: orangered;
        width: 1200px;
        height: 50px;
    }
    #middle{
        background: grey;
        width: 1200px;
        
        
    }
      #left{
          background: lightgreen;
          width: 800px;
          height: 300px;
          float: left;
      }
      #right{
        background: lightsteelblue;
        width: 400px;
        height: 300px;
        float: left;
      }
    #footer{
        background: brown;
        width: 1200;
        height: 50px;
    }  
}