body{
    margin: 0px;
    background-color: black ;
    padding: 0px;
    color: white;

}
.fbheader{
    background-color: black;
    height: 50px;
}
.left{
     display: inline-block;
     position: absolute;
     left: 10px;
     top: 14px;
}
.left img{
    width: 45px;
    height: 45px;
}
.left img:hover{
         background-color: blue;
}   
.left input[type=text] {
    border-radius: 4px;
    float: right;
    margin: 8px;
    padding: 0 0 0 10px;
    font-size: 24px;
}

.mid{
    display: block;
    width: 45%;
    margin: 9px auto;
}
.navbar{
    display: inline-block;
    float: left;
}
.navbar li{
    display: inline-block;
    font-size: 20px;
}
.navbar li i{
    color: white;
    text-decoration: none;
    margin: 0px 20px;
    padding: 0 20px;
    font-size: 24px;
}
.navbar li i:hover{
    text-decoration: underline;
    background: blue;

    
}

.right{
    position: absolute;
    right: 40px;
    top: 5px;
    text-align: center;
    display: inline-block;
}
.right img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 10px;
}
.para{
display: inline-block;  
padding: 10px;
font-size: 20px;
}
.navbar1{
    display: inline-block;
    float: right;
}
.navbar1 li{
    color: white;
    display: inline-block;
    padding: 0px 0 0px 20px;
    margin: 0px 2px;
    font-size: 25px;
}


.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 2px;
}
.input-container img{
   padding: 9px 10px 0px 15px;
  color: white;
  height: 35px;
  text-align: center;
  
}
.input-container p{
    font-size: 20px;

}

.input-container i{
    padding: 11px 10px 0px 12px;
   color: white;
   font-size: 25px;
   min-width: 35px;
   text-align: center;
 }
.adjust{
    width: 300px;
    margin-left: 10px;

}
.footer p{
    font-size: 22px;
    padding: 0px 13px;
}
.about{
    max-width: 300px;
    float: left;
    margin: 3px;
}
.about li{
    display: inline-flex;
    padding: 2px;
    margin: 2px;
}

.mid{
    display: block;
    width: 43%;
    margin: 10px auto;
}
.status{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    width: 105%;
    margin-right: 200px;
    
    
}
.status img{
    width: 110px;
    height: 190px;
    margin: 15px 4px 10px 4px;
    border-radius: 7px;
    justify-content: center;
}
.container2{
    background-color: grey;
    width: 510px;
    height: 130px;
    margin-left: 45px;
    border-radius: 7px;
    display:inline-block;

}
.container2 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 13px 5px 0px 10px;


        /* padding: 2px 10px 0px 2px;
        margin-left: 10px;
        margin-top: 12px;
       color: white;
       height: 35px;
       text-align: center; */
}
.container2 input[type=text] {
    margin-top: 14px;
    border-radius: 14px;
    width: 390px;
    height: 32px;
    font-size: 20px;
    border: 2px solid black;
}
.container2 input[type=text]:hover{
    
    
}
.adjust1{
    width: 450px;
}

.live{
    display: inline-block;
}
.live li{
    display: inline-block;
    color: white;
    font-size: 20px;
    margin: 0px 10px 50px 8px;
    padding: 0px 10px 24px 5px;
}
.container3{
    background-color: grey;
    width: 510px;
    height: 70px;
    margin-top: 20px;
    margin-left: 45px;
    border-radius: 7px;
}

 .container3 img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 13px 5px 0px 10px;
} 

 .container3 p{
     font-size: 20px;
 }
    /* padding: 2px 10px 0px 2px;
    margin-left: 10px;
    margin-top: 12px;
   color: white;
   height: 35px;
   text-align: center; */
.container3a{
        display: flex;
        justify-content: center;
        padding-top: 1px;
        width: 103%;
        margin-right: 190px;
}
    .container3a img{
        width: 510px;
        height: 500px;
        border-radius: 2px;
        justify-content: center;
    }
    .container4{
        background-color: grey;
        width: 510px;
        height: 50px;
        margin-top: 1px;
        margin-left: 45px;
        border-radius: 7px;
    }
    .container4{
        display: flex;
    }
    #like{
    margin: 0px 80px;
    padding-left: 30px;
    padding-right: 54px;
    }
    #comment{
        margin: 0px 40px 
    }
    .right1{
        position: absolute;
        right:60px;
     
        top: 60px;
        
        display: inline-block;
    }
    .right1 h3{
        margin: 20px;
    }
    .container5 {
            display: flex;
           
    }
    .container5 img{
        width: 130px;
        height: 100px;
        padding-left: 0px;
        
    }
    .container5 p{
        width: 4px;
    }
    .container6 {
        display: flex;
       

        margin-top: 20px;
       
}
.container6 img{
    width: 130px;
    height: 100px;
    padding-left: 0px;
    
}
.container6 p{
    width: 4px;
}

