body{
   
}

/* Navigation */

#navbar{
    flex-direction: column;
}
#navbar li a{
    font-size: 1rem;
    padding: 0 7px;
    padding-bottom: 8px;
}

/* homesection */
#home{
  height: 370px;
  padding: 3px 28px;
  
}
#home::before{
    height: 480px;
}
#home p{
    font-size: 13px;
}

/* services */

#services{
    flex-direction: column;
}
#services.box{
    padding: 14px;
    margin: 2px 0;
    margin-bottom: 20px;
}

/* client section */

#clients-section{
   flex-wrap: wrap;
}
#clients img{
    width: 66px;
    height: auto;
    padding:2px 6px;
}
/* contact */

#contact-box form{
width: 80%;
}

.h-primary{
    font-size: 25px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}