*{
    padding: 0;
    margin: 0;
}
CSS Variable
.root{

}
html{

}

/* Navigation Bar */

#navbar{
     display: flex;
     align-items: center;
     position:sticky;
     top:0px;
}
 #navbar::before{
    content: "";
    background-color:black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
} 


/* logo and image */
 
#logo{
     margin: 20px 35px;
     
}
#logo img{
    height: 40px;
    width: 40px;
    margin: 3px 6px;
    border-radius: 40px;
}
#navbar ul{
    display: flex;
}
#navbar ul li{
    color: black;
    list-style: none;
    font-size: 1.3rem;
}
 #navbar ul li a{
    display: block;
    color: white;
    padding: 3px 20px;
    border-radius: 20px;
    text-decoration: none;
}
 #navbar ul li a:hover{ 

     background-color: white;
     color: black;
} 

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    justify-content: center;
    align-items: center;
    height: 530px;
}
#home::before{
    content: "";
    background: url('salad-2068220_1920.jpg') no-repeat center center/cover;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 630px;
    width: 100%;
    z-index: -1;
    opacity: 0.9;
}

#home h1{
    color: white;
    text-align: center;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.1rem;
    font-family: cursive;
}

/* Services section */
#services{
    margin: 30px;
    display: flex;
    
}
#services .box{
    border: 2px solid brown;
    padding: 35px;
    margin: 3px 15px;
    margin-bottom: 20px;
    border-radius: 28px;
    background-color: lightgray;
}
#services .box img{
    height: 160px;
    display: block;
    margin: auto;
}
#services .box p{
    
}

/* Client Section */

#clients-section{
    height: 344px;
    position: relative;
}
#clients-section::before{
    content: "";
    position: absolute;
    background: url('pexels-ella-olsson-1640777.jpg');
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
}
.clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
.client-item{
    padding: 34px;
}
.clients img{
    height: 104px;
   
}

/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
    background: url('contact.jpg') no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    padding: 0px 34px 34px 34px;
    align-items: center;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    border-radius: 9px;
    font-size: 1.1rem;
    padding: 0.5rem;
}
#contact-box form{
    width: 50%;
}
#contact-box label{
    font-size: 1.3rem;
}
footer{
    background-color: black;
    color: white;
    padding: 9px 20px;
}
/* utility class */

.h-primary{
    font-size: 3.8rem;
    padding: 12px;
}
.h-secondary{
    font-size: 1.8rem;
    padding: 12px;
}
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
cursor: pointer;
    
}
.center{
    text-align: center;
}