body{
    margin: 0p;
    padding: 0;
    background: url(training-828726_1920.jpg);
    color: white;
}
.left{
/*border: 2px solid red;*/
display: inline-block;
position: absolute;
    left: 60px;
    top: 20px;
}
.left img{
    width: 100px;
    height: 50px;
    filter: invert(100%);
}
.left div{
    text-align: center;
    line-height: 22px;
    font-size: 15px;
    
}
.mid{
    /* border: 2px solid green; */
    display: block;
    width: 43%;
    margin: 28px auto;
}
.right{
    position: absolute;
    right: 34px;
    top: 41px;
    display: inline-block;
    /* border: 2px solid yellow; */
}
.navbar{
    display: inline-block;
}
.navbar li{
    display: inline-block;
    color: white;
    font-size: 14px;
}
.navbar li a{
    color: white;
    text-decoration: none;
    padding: 34px 23px;
}
.navbar li a:hover, .navbar li a.active{
    text-decoration: underline;
    color: gray;
}
.btn{
    padding: 5px 15px;
    margin: 0px 9px;
    background: black;
    color: white;
    /* border: 2px solid red; */
    border-radius: 8px;
    font-size: 14px;
    cursor: pointer;
}
.btn:hover{
    background-color: grey;
}
.container{
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    border-radius: 28px;
    width: 33%;
    text-align: center;
    font-size: 12px;
}
.form-group input{
    text-align: center;
    display: block;
    width:  300px;
    padding:1px;
    border-radius: 7px;
    margin: 8px auto;
    font-size: 15px;  
}
.container button{
    width: 80%;
    margin: 2px auto;
}