#header h1 {
font-size: 3.2rem;
font-weight: 800;
color: red;
}

#cityname{
    background: lightgray;
    align-items: center ;
    height: 109px;
}

#search{
    border: 2px solid black;
    background: red;
    height:300px;
}
#search h1{
    font-size: 3.88rem;
    font-weight: 700;
    color: white;
}
.row img{
 width: 100%;
}
#footer-whole{
    background: gray;
    height: 100%;
    
}
#footer-whole h2{
font-size: 3.6rem;
font-weight: 700;
color: white;
}
#footer-whole h4{
    font-size: 2.2rem;
    font-weight: 600;
    color: white;
}
#download p{
    font-size: 1.3rem;
    color: white;
    font-weight: 600;
}
.service-list li{
   list-style: none;
   padding: .2em 0;
   font-size: 1.54rem;
}
.service-list a{
    text-decoration: none;
    color: white;
}

.oyo-feature h4{
    /* justify-content: center; */
    text-align: center; 
}
.oyo-feature p{
    /* justify-content: center; */
    text-align: center;
    font-size: 1.3rem;
    color: white;
}
.hotel-city li{
    list-style: none;
    padding: .38em 0;
   font-size: 1.54rem;
}
.hotel-city a{
    color: white;
}
.hotel-city a:hover{
    color:whitesmoke;
}
.socialicon li{
    list-style: none;
    display: inline;
}
.socialicon img{
    width: 55px;
margin-right: 2rem;
    height: 55px;
}