*{
    margin: 0;
    padding: 0;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display:flex;
}
.left{
   position: relative;
   top: 12px;
   left: 70px;
}
.left img{
    width: 100px;
    height: 43px;
}
.left img:hover{
    cursor: pointer;
}
.right{
    position: absolute;
    top: 0px;
    right: 60px;
    display: flex;
}
#cars{
    width: 145px;
    height: 60px;
    font-size: 15px;
    font-style: bold;
    border: 1px solid black;
    margin-right: 0.7rem;
}
#cars:hover{
    cursor: pointer;
    background:lightgray;
}
.btn{
    width: 167px;
    height: 60px;
    font-size: 15px;
    border: 1px solid black;
    font-style: bold;
}
.btn:hover{
        cursor: pointer;
        background:lightgray;
}

.background{
    background-color: lightgrey;
    width: 100%;
    height: 47px;
    margin-top: 0.88rem;
}
.navbar{
     position: relative; 
    top:9px;
    left: 80px;
 }
 #banglore{
     background: transparent;
     font-size: 15px;
     border: none;
    width: 103px;
    height: 30px;
    margin-left: 1rem;
 }
 #banglore:hover{
     cursor: pointer;
 }
 .search{
    background-color: red;
    height: 200px;
   text-align: center;
 }
 h1{
    color: white;
    padding-top: 2rem;
    font-weight: bold;
    font-size: 40px;
  
 }
 input[type=text] {
    width: 50%;
    height: 60px;
   margin-top: 1rem;
    box-sizing: border-box;
  }
 .search-city{
   
    width: 150px;
    height: 60px;
    font-size: 20px;
    color: white;
    font-style: bold;
    border: 1px solid black;
    margin-right: 0.7rem;
    padding-bottom: 0.1rem;
    background:limegreen;
 }
 .search-city:hover{
     cursor: pointer;
 }
 .maps{
     margin-top: 2rem;
    display:flex;
    background-color: lightblue;
}
 .left1{
    position: relative;
    top: 12px;
    left: 70px;
 }
 .left1 img{
     width: 500px;
     height: 500px;
 }
 .right1{
     position: absolute;
     right: 20px;
     bottom: -130px;
 }
 .para0 p{
    font-size: 30px;
 }
 .para1{
    margin-top:1.6rem;
    font-size: 20px;
    margin-bottom: 3rem;
 }
 .para2 {
    display: flex;
   flex-flow: row wrap;
   margin-top: 2.2rem;
   margin-bottom: 3rem;
 }
 .para2 li{
     font-size: 22px;
     list-style: none;
     margin-right: 3.6rem;
 }
 .para3{
     margin-top: 2.2rem;
     display: flex;
     flex-flow: row wrap;
    
 }
 .para3 li{
     color: white;
     font-size: 15px;
     margin-right:7rem;
     list-style: none;
padding-right: 2rem;
padding-bottom: 2rem;
 }


 .fcontainer{
     background-color: gray;
     width: 100%;
     height: 150%;
    
 }
 .fpara1{
     color: white;
     font-size: 26px;
     text-align: center;
     padding-top: 2.2rem;
 }
 .first-line{
     margin-top: 2rem;
 }
 .fpara2{
     margin-top: 2.2rem;
     margin-left: 6.6rem;
     color: white;
     display: flex;
     flex-flow: row wrap;

 }
 
 .fpara2l{
    
     margin-bottom: 2em;
}
 .fpara2l img{
     width: 300px;
     height: 50px;
     margin-top: 1.7rem;
 }
 .fpara2l img:hover{
     cursor: pointer;
 }
 .fpara2r{
      margin-left: 11rem;
 }
 .fpara2rli li{
list-style: none;
margin: 6px 0px;
padding: 6px 0;
 }
 .fpara2rli li:hover{
     cursor: pointer;
 }
.secondline{
    width: 90%;
    margin-top: 1.5rem;
}
.oyofeature{
    margin-top: 2rem;
    text-align: center;
justify-content: center;
margin-right: 2rem;
     color: white;
     display: flex;
     flex-flow: row wrap;
}
.oyofeature:hover{
    cursor: pointer;
}
.firstpt li{
    list-style: none;
    margin: 4px 50px;
    padding: 4px 50px;
     }
     .thirdline{
         margin-left: 100px;
         width: 83%;
         margin-top: 1.5rem;
     } 
     .list-city{
        margin-left: 6.6rem;
        margin-top: 1.7rem;
        justify-content: center;
     }

     .hotel-city{
        margin-top: 0.7rem;
        display: flex;
        flex-flow: row wrap;
    }
    .hotel-city li{
    
        list-style: none;
        font-size: 16px;
        padding-top: 1rem;
        padding-right: 0.7rem;
        padding-left: 0.3rem;
        margin-right: 1.8rem;
    }
    .hotel-city a{
        text-decoration: none;
        color: white;
      
    }
    .list-city h3{
        color: white;
        font-size: 23px;
    }
    
.socialicon{
    margin-left: 6.6rem;
    margin-top: 1.7rem;
}
.socialicon li{
    list-style: none;

    display: inline;
}
.socialicon img{
    width: 30px;
    padding-left: 0.2rem;
    margin-right: 1.3rem;
    height: 30px;
    
}
.socialicon img:hover{
    cursor: pointer;

}