*{
    margin: 0;
    padding: 0;
}
.clearfix{
    clear: both;
}
#container{
   
    margin: 0 auto;
    width: 100%px;
    font-family: arial;
}
header{
    background: url(black-background.jpg);
    width: 100%px;
    
    color: white;
}
#left_header{
    
    padding: 50px 0;
    float: left;
    margin-left: 30px;
    cursor: default;
}
#left_header:hover{

}
nav{
    float: right;
}
nav ul{}
nav ul li{
    float: left;
    
    padding: 57px 30px;
    font-size: 20px;
    font-family: arial;
    margin: 0 2px ;
    font-weight: bold;
    transition:1s;
    cursor:pointer;
}
nav ul li:hover{
    background: red;
}
.main_img{
    width: 100%;
    height: 100%;
}
section{

    padding: 0 5%;
}
section h2{
    text-align: center;
    font-size: 60px;
    text-shadow: 1px 1px 5px black;
    padding: 50px;
    color: gray;
}
article{
    width: 23%;
    margin: 20px 1% 20px 0;
    float: left;
    color: #666;
}
.margin_left{
    margin-left: 2%;
}
.margin_right{
    margin-right: 0;
}
article img{
    width: 100%;
    
}
article img:hover{
     animation: img_animantion 2s;
}
.img_block{
    height: 200px;
    overflow: hidden;
}
@keyframes img_animation{
    from {width: 100%;}
    to {width: 150%;}
}
.article_title{
    text-align: center;
    font-size: 20px;
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}
.article_description{
    text-align: center;

}
.image{
    background-size: 100%;
    width: 100%;
    height: 100%;
    padding: 50px 0;
    box-sizing: border-box;
}
.second_section{
    font-size: 60%;
    margin: 50; 
    text-decoration: none;
    transition: 1s;
}
.second_section h2:hover{
    text-decoration: underline;

}
.second_section .left_side{
    width: 40%;
    float: left;
    padding-bottom: 20px;

}
.second_section .left_side img{
    width: 100%;
    height: 100%;
    border: 2px solid black;
    border-radius: 10%;
}
.second_section .right_side{
    width: 40%;
    float: right;
    color: black;
    background-color: silver;
    padding: 10px;
    margin-bottom: 30px;
    border: 5px solid orange;
    line-height: 30px;
    font-size: 10px;
    border-radius: 10%;
}
footer{
    width: 100%;
    background: gray;
    height: 100px;
    color: white;
    background: url(black-background.jpg);
}
.left_footer{
    padding: 20px;
    float: left;
}
.right_footer{
    padding: 20px 20px 0 20px;
    float: right;
}
.right_footer ul{
    
}
.right_footer ul li{
    float: left;
    padding: 0 25px;
    font-weight: bold;
    font-size: 18px;
    color: white;
    transition: color 2s;
}
.right_footer ul li:hover{
    color: orange;
}
