#third_hello{
    color: red; background-color: violet;
}
.main-class{
    color: gray; background-color:darkgreen;
}
.vineet-class{
    background-color: darkred;
}

a:link {
    color: red;
}
a:visited{
    color: brown;
}
a:hover{
    color: orangered;
}
a:active{
    color: black;
}